.product-card {
    border: 1px solid rgba(128, 128, 128, 0.228);
    border-radius: 8px;
    height: 508px;
    width: 80%;
    position: relative;
}

.product-category {
    cursor: pointer;
    background-color: #3333ffa8;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 5;
}

.product-category:hover {
    background-color: #3333ff;
}

.card-image {
    position: relative;
    top: -18px;
    display: flex;
    justify-content: center;
}

.product-card img {
    width: 95%;
    height: 286px;
    border-radius: 8px;
}

.card-body {
    margin: 0;
    padding: 0px 20px;
}

.product-name {
    margin: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #0E161A;
    position: relative;
    bottom: 80px;
}

.product-price {
    font-weight: 400;
    font-size: 25px;
    color: #0E161A;
    margin: 12px;
    position: relative;
    bottom: 40px;
}

.product-quality-info {
    margin-top: 40px;
    position: relative;
    bottom: 60px;
}

.product-quality-info p {
    margin: 0px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px;
    line-height: 14px;
    letter-spacing: 0.004em;
    color: #2A414F;
}

.add-to-cart-btn {
    background: #3333ff;
    color: white;
    border: 5px solid #ffffff;
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.add-to-cart-btn:hover {
    background: #3333ffc9;
    transition: 0.5s;
}

.rating {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.stock_icon {
    
    color: #3333ff
}