.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3333ff;
  height: 80px;
  padding: 0 3rem;
}

.navMenu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navMenu a {
  color: white;
  text-decoration: none;
  font-size: 26px;
}

.product_count {
  position: relative;
  font-size: 12px;
  font-weight: bolder;
  top: 10px;
  color: white;
  left: 15px;
  background-color: #4a4aff;
  padding: 10%;
  text-shadow: 1px 1px 1px black;
  border-radius: 50%;
}

.side_cart {
  font-size: 26px;
  position: relative;
  bottom: -10px;
  margin: 0 0px 0px 30px;
  color: white;
}
